body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.class4a{
    display: none;
    text-align: center;
    padding: 50px;
    font-size: x-large;
    cursor: pointer;
}

.div4a{
    background-color:#eccc68;
    height: 150px;
    width: 250px;
}
.div4a:hover .class4a{
    display: block;
    color: white;
}
.div4b{
    background-color: #ff7f50;
    height: 150px;
    width: 250px;
}
.div4b:hover .class4a{
    display: block;
    color: white;
}
.div4c{
    background-color:#ff6b81;
    height: 150px;
    width: 250px;
}
.div4c:hover .class4a{
    display: block;
    color: white;
}
.div4d{background-color: #a4b0be;
    height: 150px;
    width: 250px;
}
.div4d:hover .class4a{
    display: block;
    color: white;
}
.div4e{
    background-color:#57606f;
    height: 150px;
    width: 250px;
}
.div4e:hover .class4a{
    display: block;
    color: white;
}
.div4f{
    background-color: #ffa502;
    height: 150px;
    width: 250px;
}
.div4f:hover .class4a{
    display: block;
    color: white;
}
.div4g{
    background-color:#ff6348;
    height: 150px;
    width: 250px;
}
.div4g:hover .class4a{
    display: block;
    color: white;
}
.div4h{
    background-color: #ff4757;
    height: 150px;
    width: 250px;
}
.div4h:hover .class4a{
    display: block;
    color: white;
}
.div4i{
    background-color:#747d8c;
    height: 150px;
    width: 250px;
}
.div4i:hover .class4a{
    display: block;
    color: white;
}
.div4j{
    background-color:#2f3542;
    height: 150px;
    width: 250px;
}
.div4j:hover .class4a{
    display: block;
    color: white;
}
.div4k{
    background-color:#7bed9f;
    height: 150px;
    width: 250px;
}
.div4k:hover .class4a{
    display: block;
    color: white;
}
.div4l{
    background-color: #70a1ff;
    height: 150px;
    width: 250px;
}
.div4l:hover .class4a{
    display: block;
    color: white;
}
.div4m{
    background-color:#5352ed;
    height: 150px;
    width: 250px;
}
.div4m:hover .class4a{
    display: block;
    color: white;
}
.div4n{
    background-color:#ffffff;
    height: 150px;
    width: 250px;
}
.div4n:hover .class4a{
    display: block;
    color: white;
}
.div4o{
    background-color:#dfe4ea;
    height: 150px;
    width: 250px;
}
.div4o:hover .class4a{
    display: block;
    color: white;
}
.div4p{
    background-color:#2ed573;
    height: 150px;
    width: 250px;
}
.div4p:hover .class4a{
    display: block;
    color: white;
}
.div4q{
    background-color:#1e90ff;
    height: 150px;
    width: 250px;
}
.div4q:hover .class4a{
    display: block;
    color: white;
}
.div4r{
    background-color: #3742fa;
    height: 150px;
    width: 250px;
}
.div4r:hover .class4a{
    display: block;
    color: white;
}
.div4s{
    background-color:#f1f2f6;
    height: 150px;
    width: 250px;
}
.div4s:hover .class4a{
    display: block;
    color: white;
}
.div4t{
    background-color:#ced6e0;
    height: 150px;
    width: 250px;
}
.div4t:hover .class4a{
    display: block;
    color: white;
}